In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import os

In [3]:
print(os.listdir())

['Untitled5.ipynb', '.ipynb_checkpoints', 'eda .ipynb', 'movies.csv', 'project2.ipynb', 'audible_cleaned.csv', '71 Centuries of Virat Kohli (1).csv', ' project2.ipynb', 'audible_uncleaned.csv', 'Untitled7.ipynb', 'Untitled1.ipynb', 'etc', 'Untitled6.ipynb', 'Untitled8.ipynb', 'Untitled4.ipynb', 'viraat kohli.ipynb', 'Untitled.ipynb', 'Untitled3.ipynb', 'cricket.ipynb', 'Untitled2.ipynb']

In [4]:
df =pd.read_csv("audible_uncleaned.csv")

In [14]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [9]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586.00
freq,20,874,1034,372,773,61884,72417,5533

In [15]:
df.shape

(87489, 8)

In [34]:
df['author'].str.split(':', expand=True)

TypeError: list indices must be integers or slices, not str

In [35]:
data=['writtenby:']
df=[item.replace(':','')for item in data]
df

['writtenby']

In [38]:
author.str.split(pat=None, n=-1,expand=False)

NameError: name 'author' is not defined

KeyError: "['narratedby'] not found in axis"

         0   1
0      468  00
1      820  00
2      410  00
3      615  00
4      820  00
...    ...  ..
87484  596  00
87485  820  00
87486  938  00
87487  680  00
87488  569  00

[87489 rows x 2 columns]

In [39]:
df[['price','zero']] = df['price'].str.split('.', expand=True)
df.head()

,name,author,narrator,time,releasedate,language,stars,price,writtenby,zero
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468,Writtenby,00
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820,Writtenby,00
2,The Deep End,JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410,Writtenby,00
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615,Writtenby,00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820,Writtenby,00

KeyError: "['narratedby'] not found in axis"